<form [formGroup]="submitForm" (ngSubmit)="submit()">
    <label for="param2">Serveur</label>
    <ng-multiselect-dropdown
        formControlName="serveur"
        [settings]="dropdownSettings"
        [placeholder]="'serveur'"
        [data]="param2List"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        name="param2"
        class="param"
     ></ng-multiselect-dropdown>
 
    <label for="param1">Application</label>
    <ng-multiselect-dropdown
    formControlName="application"
    [settings]="dropdownSettings"
    [placeholder]="'application'"
    [data]="param1List"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    name="param1"
    class="param"
    ></ng-multiselect-dropdown>
    <label for="limit">Limit: </label> <br>
    <input id="limit" type="text" formControlName="limit"><br>
    <button>Submit</button> 
 </form>
 
