// input {
//     background: transparent;
//     border: solid 1px rgb(161, 161, 161);
//     border-radius: 10%;
// }
button {
    background: green;
    color: white;
    border: 0ch;
    border-radius: 10%;
    margin-top: 20px;
}