<div class="container">
<div class="nav">
     <div class="col-sm-10" id="selectFunction">
         <select name="listFunction" (change)="changeFunction($event)" class="form-control">
         <option>--Select function--</option>
         <option [value]="item.id" *ngFor="let item of listFunction$ | async">{{item.name}}</option>
        </select>
     </div>
   <h5 class="span" *ngIf="selectedFunction">Description </h5> 
  <div *ngFor="let item of listFunction$ | async" >
      <p *ngIf="item.id == selectedFunction"> {{item.description}}</p>
  </div>

  <div class="description" *ngIf="selectedFunction">
    <app-icon-parametre ></app-icon-parametre>
    Paramètres
  </div>
  
  <div class="functionParam">

    <app-last-inst *ngIf="selectedFunction == lastInstId" ></app-last-inst>
    <app-info-conf *ngIf="selectedFunction == infoConfId" ></app-info-conf>
  </div>

</div>
</div>
